<div class="container col-sm-12 col-md-12 col-lg-12">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row"  *ngIf="product">
        <div class="preview col-md-6 col-xs-6">
          <img class="image" width="80%" src="{{product.ProductImage}}" alt="..." />
      </div>
      <div class="details col-md-6 ">
            
          
          <h2 class="padding-top-1x text-normal">{{ product.ProductName }}</h2>

          <span class="h2 d-block">
            <h3>Price: {{ product.ProductPrice | currency}}</h3>
          </span>
          <p>{{product.ProductDescription}}</p>
         
          <br><br>
                           
          <div class=" button sp-buttons mt-2 mb-2">
            <a [routerLink]= "['/cart']" > 
              <button class="btn btn-primary" (click)="addProductCart(product)">
                <i class="icon-bag"></i> Add to Cart
              </button></a>
            </div>
          </div>

        </div>
      </div>
</div>
</div>

    
  
 
 

